html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container{
	width: 900px;
}
.cancel-unit{
  cursor: pointer;
  border-radius: 4px;
	transition-property: left, top, background-color;
	transition-duration: 1s;
}
// .example-enter {
//    opacity: 0.01;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
//   transition: opacity 500ms ease-in;
// }

// .example-leave {
//   opacity: 1;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }

.score{
  position: absolute;
  top: 550px;
  left: 50px;
}
.option {
  position: absolute;
  right: 0;
}
.container {
  width: 512px;
  height: 750px;
  // background-image: url('../background.jpg');
}